
FrameExample-iOS/.DS_Store
FrameExample-iOS/FrameExample-iOS.xcodeproj/project.xcworkspace/xcuserdata/Ricky.xcuserdatad/UserInterfaceState.xcuserstate
FrameExample-iOS/FrameExample-iOS.xcodeproj/xcuserdata/Ricky.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
