name: Frame Package Test (iOS)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Select Xcode with Swift 6
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Resolve Binary Dependencies
        run: |
          swift package resolve

      - name: Run tests on iOS Simulator
        run: |
          xcodebuild test \
            -project FrameExample-iOS/FrameExample-iOS.xcodeproj \
            -scheme FrameExample-iOS \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.6' \
            -sdk iphonesimulator \
            -enableCodeCoverage YES
